.cv-preview {
    display: grid;
    grid-template: 1fr 1fr 3fr / 3fr 2fr;
    justify-self: center;
    
    height: 95vh;
    width: 650px;

    margin: 2rem;

    background-color: var(--myWhite);

    position: sticky;
    top: 2rem;
}

.previewHeading {
    align-self: center;
    margin-right: 2rem;
    padding-left: 2rem;
    color: #4A7856;

    font-size: 1.2rem;
    font-weight: 600;

    border-bottom: 1px solid black;
}

.prevInfo {
    padding-left: 1rem;
    font-size: 0.8rem;
    text-align: justify;
}