.myContainer {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    justify-content: center;

    background-color: var(--darkBlack);
    min-height: 100vh;
}

.printBtn,
.eyeBtn {
    width: 60px;
    height: 60px;

    position: fixed;
    top: 50%;
    left: 10px;

    border: 0px;
    border-radius: 10px;
    background-color: var(--inputBg);
}

.eyeBtn {
    position: static;
    display: none;
}

.printBtn > img,
.eyeBtn > img {
    width: 30px;
    height: 30px;
}

.printBtn:hover,
.eyeBtn:hover {
    background-color: #777;
}

.btns-container {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

@media (max-width: 600px) {
    .myContainer {
        flex-flow: column nowrap;
        align-items: center;
        padding: 0;
        min-width: min-content;
    }

    .btns-container {
        width: 100%;
        position: sticky;
        justify-content: space-between;
        padding: 10px;
    }

    .printBtn,
    .eyeBtn {
        width: 50px;
        height: 50px;
    }

    .printBtn {
        position: initial;
    }

    .eyeBtn {
        display: initial;
    }
}
