.myContainer {
    padding-left: max(80px, 5%);
    display: grid;
    grid-template-columns: max(35%, 400px) 1fr;

    background-color: var(--darkBlack);
}

.printBtn {
    width: 60px;
    height: 60px;

    position: fixed;
    top: 50%;
    left: 10px;

    border: 0px;
    border-radius: 10px;
    background-color: var(--inputBg);
}

.printBtn > img {
    width: 40px;
    height: 40px;
}

.printBtn:hover {
    background-color: var(--myWhite);
}