.addBtn {
    border: 0;
    padding: 10px 1rem;
    border-radius: 0.5rem;
    background-color: var(--inputBg);

    color: var(--myGreen);
    font-size: 1.2rem;
    width: 100px;
    display: block;

    margin-top: -10px;
}

.addBtn:hover {
    background-color: var(--myGreen);
    color: var(--inputBg);
}

.btn-holder {
    display: flex;
    justify-content: center;

}