.snip-header {
    width: 95%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    color: var(--myWhite);
}

.snippet-div {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.delBtn {
    border: 0;
    padding: 5px;
    border-radius: 0.5rem;
    background-color: var(--inputBg);
}

.delBtn:hover {
    background-color: #84596b;
}
