textarea {
    min-width: 90%;

    min-height: 5rem;

    background-color: var(--inputBg);
    color: var(--myWhite);

    font-size: 1rem;
    font-family: inherit;

    border: 0;
    border-radius: 0.5rem;
    padding: 5px;

    margin: 5px 0px;
    outline: var(--myWhite);
}