.formHeading{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: var(--lightBlue);

    margin-left: 10px;
}

img {
    width: 30px;
    height: 30px;
}

.formHeading > img {
    margin-right: 5px;
}