.user-info-div {
    width: 90%;
}

.user-info-form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 0.8rem;

    background-color: #1c1c1c;

    gap: 8px;
    height: max-content;
    border-radius: 1rem;
}