.contact-comp {
    display: flex;
    flex-flow: row nowrap;
    gap: 5px;

    color: var(--myWhite);

    align-items: center;
    justify-content: center;
}

.contact-comp > img {
    width: 20px;
    height: 20px;
}

.contact-text {
    font-size: calc(1vmin + 6px);
}
