.infoPrev {
    background-color: #30343f;
    grid-column: 1 / 3;

    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;

    overflow-x: auto;
}

.user-name,
.user-role {
    color: var(--myWhite);

    display: flex;
    flex-flow: row nowrap;

    align-items: center;
    justify-content: center;
}

.user-name {
    grid-column: 1 / 4;
    font-size: calc(2vmin + 25px);
}

.user-role {
    grid-column: 1 / 4;
    font-size: calc(2vmin + 10px);
}
